@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #632EE3;
  --color-primary-content: white;
  --color-secondary: #9F62F2;
  --color-neutral-content: #001931;
  --color-base-200: #f3e8ff;
  --color-bgcolor: #f3e8ff;
  --color-base-300: #d8b4fe;
};
.text-main {
  background: linear-gradient(to bottom right, var(--color-primary), var(--color-purple-400)); /* or var(--color-primary) etc. */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.primary-btn {
  background: linear-gradient(to bottom right, var(--color-primary), var(--color-purple-300));
  color: white;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

.primary-btn:hover {
  background: linear-gradient(to bottom right, var(--color-purple-300), var(--color-primary));
  box-shadow: 0 8px 10px -3px var(--color-primary), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transform: translateY(-1px);
}
.secondary-btn {
  background: linear-gradient(to bottom right, var(--color-purple-300), var(--color-primary));
  color: white;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

.secondary-btn:hover {
  background: linear-gradient(to bottom right, var(--color-purple-300), var(--color-primary));
  box-shadow: 0 8px 10px -3px var(--color-primary), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transform: translateY(-1px);
}
.outlined-btn {
  background: transparent;
  outline: 1px solid var(--color-purple-700);
  color: var(--color-purple-700);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
.outlined-btn:hover {
  background: linear-gradient(to bottom right, var(--color-purple-300), var(--color-primary));
  border-color: transparent;
  box-shadow: 0 8px 10px -3px var(--color-primary), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transform: translateY(-1px);
  outline:none;
  color:white;
}
.accept-btn {
  background: transparent;
  outline: 1px solid var(--color-green-500);
  color: var(--color-green-500);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.accept-btn:hover {
  background: var(--color-green-500);
  border-color: transparent;
  transform: translateY(-1px);
  color:white;
}
.reject-btn {
  background: transparent;
  outline: 1px solid var(--color-red-500);
  color: var(--color-red-500);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.reject-btn:hover {
  background: var(--color-red-500);
  border-color: transparent;
  transform: translateY(-1px);
  color:white;
}
